
div.lcars.container {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

div.lcars.column {
	position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

div.lcars.display {
	position: relative;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

div.lcars.v {
	width: 240px;
}

div.lcars.h {
	height: 30px;
}

div.lcars.top {
	top: 0px;
}

div.lcars.bottom {
	bottom: 0px;
}

div.lcars.right {
	right: 0px;
}

div.lcars.left {
	left: 0px;
}

div.lcars.container div.lcars.h.bar.right {
	left: 240px;
}

div.lcars.container div.lcars.h.bar.left {
	right: 240px;
}

div.lcars.container.divide {
	height: 0px;
	width: 100%;
	margin: 5px;
}

div.lcars.display.tr {
    position: absolute;
	top: 0px;
	right: 0px;
	left: 160px;
    padding: 5px 5px 5px 40px;
	border-bottom-left-radius: 30px;
	z-index: 3;
	background-color: black;
}

div.lcars.display.tl {
    position: absolute;
	top: 0px;
	left: 0px;
	right: 160px;
    padding: 5px 40px 5px 5px;
	border-bottom-right-radius: 30px;
	z-index: 3;
	background-color: black;
}

div.lcars.display.br {
    position: absolute;
    top: 30px;
	bottom: 0px;
	right: 0px;
	left: 160px;
    padding: 5px 5px 5px 40px;
	border-top-left-radius: 30px;
	z-index: 3;
	background-color: black;
}

div.lcars.display.bl {
    position: absolute;
    top: 30px;
	bottom: 0px;
	left: 0px;
	right: 160px;
    padding: 5px 40px 5px 5px;
	border-top-right-radius: 30px;
	z-index: 3;
	background-color: black;
}
