
div.lcars.left.bottom.cornered {
    border-bottom-left-radius: 60px;
}

div.lcars.left.top.cornered {
    border-top-left-radius: 60px;
}

div.lcars.right.bottom.cornered {
    border-bottom-right-radius: 60px;
}

div.lcars.right.top.cornered {
    border-top-right-radius: 60px;
}

div.lcars.h.bar.rounded.minor.left {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

div.lcars.h.bar.rounded.minor.right {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

div.lcars.h.bar.rounded.major.left {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

div.lcars.h.bar.rounded.major.right {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

button.lcars.left.top.rounded {
	border-top-left-radius: 20px;
}

button.lcars.left.bottom.rounded {
	border-bottom-left-radius: 20px;
}

button.lcars.right.top.rounded {
	border-top-right-radius: 20px;
}

button.lcars.right.bottom.rounded {
	border-bottom-right-radius: 20px;
}
