<div class="lcars container height xF">
	<div class="lcars v bar passive height block left bottom cornered">
		<button class="lcars passive" ng-click="navigation('/')">
			<span>Nexus</span>
		</button>
		<button class="lcars passive" ng-click="navigation('/matrix')">
			<span>Matrix</span>
		</button>
		<button class="lcars passive" ng-click="navigation('/assist')">
			<span>Assistance</span>
		</button>
	</div>
	<div class="lcars display height info tr passive minor">
		<h1>Access Denied</h1>
	</div>
	<div class="lcars passive h bar right minor bottom block rounded">
	</div>
</div>
