<div class="lcars container height x1">
	<div class="lcars v bar passive height block left bottom cornered">
		<button class="lcars passive txR txB" ng-click="navigation('/')">
			<span>Nexus</span>
		</button>
	</div>
	<div class="lcars display height info tr passive minor">
		<div id="graph">
		</div>
	</div>
	<div class="lcars passive h bar right minor bottom block rounded">
	</div>
</div>

<div class="lcars container divide">
</div>

<div class="lcars container height xFlow">
	<div class="lcars v bar height block top right cornered divide active">
		<button class="lcars active corner h25 txL txB" ng-click="navigation('/')">
			<span>Add</span>
		</button>
		<button class="lcars property h-05 txL" ng-click="navigation('/')">
			<span>Link</span>
		</button>
		<button class="lcars property h-05 txL" ng-click="navigation('/assist')">
			<span>Unlink</span>
		</button>
		<button class="lcars configuration hFlow txL txT" ng-click="navigation('/matrix')">
			<span>Remove</span>
		</button>
	</div>
	<div class="lcars display height info bl passive minor">
		<div id="main">
			<div id="sequence"></div>
			<div id="chart">
				<div id="explanation" style="visibility: hidden;">
					<span id="percentage"></span>
					<br />
					of visits begin with this sequence of pages
				</div>
			</div>
		</div>
	</div>
	<div class="lcars passive h bar left minor top block rounded">
	</div>
</div>
