<div class="lcars container height x1">
	<div class="lcars v bar passive height block left bottom cornered">
		<button class="lcars passive txR txB" ng-click="navigation('/')">
			<span>Nexus</span>
		</button>
	</div>
	<div class="lcars display height info tr passive minor">
		<div id="graph">
		</div>
	</div>
	<div class="lcars passive h bar right minor bottom block rounded">
	</div>
</div>

<div class="lcars container divide">
</div>

<div class="lcars container height xFlow">
	<div class="lcars v bar height block top right cornered divide active">
		<button class="lcars active corner h25 txL txB" ng-click="navigation('/')">
			<span>Add</span>
		</button>
		<button class="lcars property h-05 txL" ng-click="navigation('/')">
			<span>Link</span>
		</button>
		<button class="lcars property h-05 txL" ng-click="navigation('/assist')">
			<span>Unlink</span>
		</button>
		<button class="lcars configuration hFlow txL txT" ng-click="navigation('/matrix')">
			<span>Remove</span>
		</button>
	</div>
	<div class="lcars display height info bl passive minor">
		<section CLASS="lcars display w2 bottom">
			<div class="lcars segment">
				<button class="lcars passive standard top left rounded"><span>Action</span></button>
				<button class="lcars active standard top right rounded"><span>Action</span></button>
			</div>
			<div class="lcars segment">
				<button class="lcars options standard"><span>Action</span></button>
				<button class="lcars property standard"><span>Action</span></button>
			</div>
			<div class="lcars segment">
				<button class="lcars options bottom standard left rounded"><span>Action</span></button>
				<button class="lcars property bottom standard right rounded"><span>Action</span></button>
			</div>
		</section>
		<section CLASS="lcars display w3 bottom">
			<div class="lcars segment">
				<button class="lcars options standard"><span>Action</span></button>
				<button class="lcars property standard"><span>Action</span></button>
				<button class="lcars passive standard"><span>Action</span></button>
			</div>
			<div class="lcars segment">
				<button class="lcars passive standard"><span>Action</span></button>
				<input type="text" placeholder="Test Input" class="lcars active standard info property" />
				<button class="lcars options standard"><span>Action</span></button>
			</div>
			<div class="lcars segment">
				<input type="text" placeholder="Test Input" class="lcars options standard info configuration" />
				<input type="text" placeholder="Test Input" class="lcars passive standard info configuration" />
				<button class="lcars options standard"><span>Action</span></button>
			</div>
		</section>
	</div>
	<div class="lcars passive h bar left minor top block rounded">
	</div>
	<!--div class="lcars display height info bl passive minor">
		<div id="main">
			<div id="sequence"></div>
			<div id="chart">
				<div id="explanation" style="visibility: hidden;">
					<span id="percentage"></span>
					<br />
					of visits begin with this sequence of pages
				</div>
			</div>
		</div>
	</div-->
</div>
