<div class="lcars container height xF">
	<div class="lcars v bar passive height block left bottom cornered">
		<button class="lcars active" ng-click="play('notification')">notification</button>
		<button class="lcars active" ng-click="play('powerdown')">powerdown</button>
		<button class="lcars active" ng-click="play('critical')">critical</button>
		<button class="lcars active" ng-click="play('powerup')">powerup</button>
		<button class="lcars active" ng-click="play('warning')">warning</button>
		<button class="lcars active" ng-click="play('offline')">offline</button>
		<button class="lcars active" ng-click="play('online')">online</button>
		<button class="lcars active" ng-click="play('alert')">alert</button>
		<button class="lcars active" ng-click="play('chirp')">chirp</button>
		<button class="lcars active" ng-click="play('beep')">beep</button>
		<button class="lcars active" ng-click="play('scan')">scan</button>
		<button class="lcars active" ng-click="play('busy')">busy</button>
		<button class="lcars active" ng-click="play('error')">error</button>
		<button class="lcars active" ng-click="play('button')">button</button>
		<button class="lcars active" ng-click="play('close')">close</button>
		<button class="lcars active" ng-click="play('open')">open</button>
	</div>
	<div class="lcars display height info tr passive minor">
		<h1>Sound Test Stage</h1>
	</div>
	<div class="lcars passive h bar right minor bottom block rounded">
	</div>
</div>
